<!-- -->
<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Juan Valdez - ADMIN</title>
		<link  type="text/css" rel="stylesheet" href="../../static/coffeeshop/admin-styles.css">
	</head>

	<body>
		<div class="butPrinci">
			<ul>
				<li><a href="./admin-registrar_venta.html">Registrar compra</a></li>
				<li><a class="estoy" href="#">Revisar productos</a></li>
				<li><a href="./admin-anadir_producto.html">Añadír productos</a></li>
				<li><a href="./admin-revisar_ventas.html">Revisar producto</a></li>
			</ul>
		</div>

		<div class="areaTrabajo">
			
		</div>
		
		<img class="imagenes1" src="../../static/img/juanvaldez.png">
		<img class="imagenes2" src="../../static/img/EafitNormal.png">
		
	</body>
</html>